<div class="card">
  {{#if isEditing}}
    <div class="editing">
      <i class="fa fa-chevron-circle-down opener" {{action "close"}}></i>
      {{card-icon icon=cardType.icon}}
      <button class="btn btn-danger btn-xs delete" {{action 'delete'}}>
        <i class="fa fa-times"></i>
      </button>
      <div class="first-row">
        {{input class="form-control input-sm" value=title}}
      </div>
      <form class="form-horizontal">
        <div class="form-group">
          <div class="col-xs-6">
            {{view Ember.Select
              content=cardTypes
              selection=cardType
              optionValuePath="content.id"
              optionLabelPath="content.name"
              class="form-control input-sm"}}
          </div>
          <div class="col-xs-6">
            {{#if pointScale}}
              {{view Ember.Select
                content=pointScale
                value=points
                optionValuePath="content.points"
                optionLabelPath="content.label"
                class="form-control input-sm"}}
            {{/if}}
          </div>
        </div>
        <div class="form-group">
          <div class="col-xs-12">
            Details
            {{textarea
              class="form-control input-sm"
              value=description}}
          </div>
        </div>
        <div class="form-group">
          <div class="col-xs-12">
            Assigned to
            {{view Ember.Select
              content=users
              selection=assignedToUser
              optionValuePath="content.id"
              optionLabelPath="content.name"
              prompt="Not Assigned"
              class="form-control input-sm"}}
          </div>
        </div>
        <div class="form-group">
          <div class="col-xs-12 text-right">
            <button class="btn btn-primary btn-xs" {{action "close"}}>Done</button>
          </div>
        </div>
      </form>
    </div>
  {{else}}
    <div class="closed">
      <i class="fa fa-chevron-circle-right opener" {{action "open"}}></i>
      {{card-icon icon=cardType.icon}}
      {{#if points}}
        <span class="label label-default pull-right">{{points}}</span>
      {{/if}}
      <div class="first-row">
        {{title}}
        {{#if assignedToUser}}
          ({{assignedToUser.name}})
        {{/if}}
      </div>
    </div>
  {{/if}}
</div>
