<div class="card">
  {{#if isEditing}}
    <div class="editing">
      <i class="fa fa-chevron-circle-down opener" {{action "close"}}></i>
      {{input class="form-control" value=title}}
      <div class="text-right">
        <button class="btn btn-default btn-xs" {{action "close"}}>Done</button>
      </div>
    </div>
  {{else}}
    <div class="closed">
      <i class="fa fa-chevron-circle-right opener" {{action "open"}}></i>
      <i class="fa fa-bug"></i>
      <span class="label label-default pull-right">5</span>
      {{title}}
    </div>
  {{/if}}
</div>
