<div class="row">
  <div class="col-sm-6">
    <h1><i class="fa fa-wrench"></i> Edit {{name}} Board</h1>
  </div>
  <div class="col-sm-6 text-right board-toolbar">
    <button type="submit" class="btn btn-primary" {{action 'save'}}>
      <i class="fa fa-check"></i> Done
    </button>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading"><i class="fa fa-bar-chart-o fa-rotate-180"></i> Board</div>
  <div class="panel-body">
    <div class="row">
      <div class="col-md-4">
        {{input-text label="Name" focus=true placeholder="board name" value=name}}
      </div>
      <div class="col-md-4">
        {{input-text label="Created By" value=createdByUser.name disabled=true}}
      </div>
      <div class="col-md-4">
        {{input-text label="Created On" value=createdOn disabled=true}}
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-6">

    <div class="panel panel-default">
      <div class="panel-heading"><i class="fa fa-align-left fa-rotate-90"></i> Lanes</div>
      <div class="panel-body">
        {{#sortable-list sortKey="order" class="list-group"}}
          {{#each lane in sortedLanes}}
            {{#sortable-list-item item=lane class="list-group-item lane-edit"}}
              {{#unless lane.cards.length}}
                <div class="right-margin">
                  <button class="btn btn-danger btn-xs" {{action 'deleteLane' lane}}>
                    <i class="fa fa-times"></i>
                  </button>
                </div>
              {{/unless}}
              <i class="fa fa-bars left-margin drag"></i>
              {{input class="form-control" value=lane.name}}
              <div class="row">
                <div class="col-xs-8">
                  <label>
                    {{input type="checkbox" checked=lane.defaultIsVisible}}
                    Visible by default
                  </label>
                </div>
                <div class="col-xs-4 text-right">
                  {{lane.cards.length}} cards
                </div>
              </div>
              {{/sortable-list-item}}
          {{/each}}
        {{/sortable-list}}
      </div>
      <div class="panel-footer text-right">
        <button class="btn btn-default" {{action 'addLane'}}>
          <i class="fa fa-plus"></i> Add Lane
        </button>
      </div>
    </div>

  </div>
  <div class="col-md-6">

    <div class="panel panel-default">
      <div class="panel-heading"><i class="fa fa-tag"></i> Card Types</div>
      <div class="panel-body">
        <ul class="list-group">
          {{#each cardType in cardTypes}}
            <li class="list-group-item card-type-edit">
              <form class="form-horizontal">
                <div class="form-group">
                  <label class="col-xs-3 control-label">Name</label>
                  <div class="col-xs-9">
                    {{input class="form-control" value=cardType.name}}
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-xs-3 control-label">Icon</label>
                  <div class="col-xs-9">
                    <div class="input-group">
                      <span class="input-group-addon">{{card-icon icon=cardType.icon}}</span>
                      {{input class="form-control" value=cardType.icon}}
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-xs-3 control-label">Points</label>
                  <div class="col-xs-9">
                    {{input class="form-control" value=cardType.pointScale}}
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-xs-3 control-label">Priority</label>
                  <div class="col-xs-9">
                    {{input type="number" class="form-control" value=cardType.priority}}
                  </div>
                </div>
                <div class="form-group">
                  <div class="col-xs-offset-3 col-xs-9">
                    <label>
                      {{input type="checkbox" checked=cardType.isHidden}} Hide for new cards
                    </label>
                  </div>
                </div>
              </form>
            </li>
          {{/each}}
        </ul>
      </div>
      <div class="panel-footer text-right">
        <button class="btn btn-default" {{action 'addCardType'}}>
          <i class="fa fa-plus"></i> Add Card Type
        </button>
      </div>
    </div>

  </div>
</div>

<div class="panel panel-danger">
  <div class="panel-heading"><i class="fa fa-warning"></i> Delete this Board</div>
  <div class="panel-body">
    <p>
      Deleting this board will permanently erase the
      board and all associated data!
    </p>
    <p>
      Enter the name of the board and press delete:
      {{input value=confirmDelete}}
    </p>
  </div>
  <div class="panel-footer text-right">
    <button class="btn btn-danger" {{action 'delete'}}>
      <i class="fa fa-times"></i> Delete
    </button>
  </div>
</div>
