<div class="row">
  <div class="col-sm-6">
    <h1><i class="fa fa-bar-chart-o fa-rotate-180"></i> {{name}} Board</h1>
  </div>
  <div class="col-sm-6 text-right board-toolbar">
    <div class="btn-group text-left">
      <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
        <i class="fa fa-align-left fa-rotate-90"></i> Lanes <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" role="menu">
        {{#each lane in sortedLanes}}
          <li>
            <a href="#" {{action toggleLane lane}}>
              <span {{bind-attr class="lane.defaultIsVisible:text-info:text-muted"}}>
                <i {{bind-attr class=":fa lane.isVisible:fa-check-square-o:fa-square-o :fa-fw"}}></i>
                {{lane.name}}
              </span>
            </a>
          </li>
        {{/each}}
      </ul>
    </div>
    {{#link-to 'boards.edit' content class="btn btn-default"}}
      <i class="fa fa-wrench"></i> Edit Board
    {{/link-to}}
    <button class="btn btn-primary" {{action "addCard"}}>
      <i class="fa fa-plus"></i> New Card
    </button>
  </div>
</div>

<div class="board-lanes">
  {{#each lane in visibleLanes}}
    <div class="board-lane" {{bind-attr style="laneStyle"}}>
      {{render "boards/lane" lane}}
    </div>
  {{/each}}
</div>
