<h1>Edit {{name}} Board</h1>

<form role="form">
  <div class="row">
    <div class="col-md-4">
      {{input-text label="Name" placeholder="board name" value=name}}
    </div>
    <div class="col-md-4">
      {{input-text label="Created By" value=createdByUser.name disabled=true}}
    </div>
    <div class="col-md-4">
      {{input-text label="Created On" value=createdOn disabled=true}}
    </div>
  </div>
</form>

<button class="btn btn-primary" {{action 'save'}}>
  <i class="fa fa-check"></i> Done
</button>
<hr>
<h3>Delete this board</h3>
<p class="text-danger">
  Deleting this board will permanently erase the
  board and all assicated data!
</p>
<p>
  Enter the name of the board and press delete:
  {{input value=confirmDelete}}
  <button class="btn btn-danger" {{action 'delete'}}>
    <i class="fa fa-times"></i> Delete
  </button>
</p>
