<div class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      {{#if showHeader}}
        <div class="modal-header">
          {{#if closeAction}}
            <button type="button" class="close" {{action 'close'}}>&times;</button>
          {{/if}}
          <h4 class="modal-title">{{title}}&nbsp;</h4>
        </div>
      {{/if}}
      <div class="modal-body">
        {{yield}}
      </div>
      {{#if showFooter}}
        <div class="modal-footer">
          {{#if closeTitle}}
            <button type="button" class="btn btn-default" {{action 'close'}}>{{closeTitle}}</button>
          {{/if}}
          {{#if saveTitle}}
            <button type="button" class="btn btn-primary" {{action 'save'}}>{{saveTitle}}</button>
          {{/if}}
        </div>
      {{/if}}
    </div>
  </div>
</div>
