<div class="signin container">
  <h1>Reset Password</h1>
</div>

<div id="signin-view">
  <div class="signin container">

    <form role="form" {{action "resetPassword" on="submit"}}>
      <div {{bind-attr class=":panel errorMessage:panel-danger:panel-default"}}>
        <div class="panel-body">

          <div class="form-group">
            <label>Name</label>
            <p class="form-control-static">{{name}}</p>
          </div>
          {{input-text type="password" label="New Password" placeholder="new password" value=password}}
        </div>
        <div {{bind-attr class=":panel-footer errorMessage:panel-footer-danger"}}>
          <div class="row">
            <div class="col-md-8 text-right">
              {{errorMessage}}
            </div>
            <div class="col-md-4 text-right">
              <button type="submit" class="btn btn-primary">Reset</button>
            </div>
          </div>
        </div>
      </div>
    </form>

  </div>
</div>
