<div class="signin container">
  <h1>Sign up</h1>
</div>

<div id="signin-view">
  <div class="signin container">

    <form role="form" {{action "signup" on="submit"}}>
      <div {{bind-attr class=":panel errorMessage:panel-danger:panel-default"}}>
        <div class="panel-body">
          {{input-text label="Name" placeholder="name" value=name}}
          {{input-text label="Initials" placeholder="initials" value=initials}}
          {{input-text label="Login Name" placeholder="login name" value=login}}
          {{input-text type="password" label="Password" placeholder="password" value=password}}
        </div>
        <div {{bind-attr class=":panel-footer errorMessage:panel-footer-danger"}}>
          <div class="row">
            <div class="col-md-8 text-right">
              {{errorMessage}}
            </div>
            <div class="col-md-4 text-right">
              <button type="submit" class="btn btn-primary">
                <i class="fa fa-chevron-circle-right"></i> Sign up
              </button>
            </div>
          </div>
        </div>
      </div>
    </form>

  </div>
</div>
