<div class="signin container">
  <h1>Sign in</h1>
</div>

<div id="signin-view">
  <div class="signin container">

    <form class="form-signin" {{action "signin" on="submit"}}>
      <div {{bind-attr class=":panel errorMessage:panel-danger:panel-default"}}>
        <div class="panel-body">
          {{input-text type="text" label="Login Name" placeholder="login name" value=name}}
          {{input-text type="password" label="Password" placeholder="password" value=password}}
        </div>
        <div {{bind-attr class=":panel-footer errorMessage:panel-footer-danger"}}>
          <div class="row">
            <div class="col-md-8 text-right">
              {{errorMessage}}
            </div>
            <div class="col-md-4 text-right">
              <button type="submit" class="btn btn-primary">
                <i class="fa fa-sign-in"></i> Sign in
              </button>
            </div>
          </div>
        </div>
      </div>
    </form>

  </div>
</div>
