<div {{bind-attr class=":panel defaultIsVisible:panel-info:panel-default"}}>
  <div class="panel-heading">
    {{#if cards.length}}
      <span class="badge pull-right">{{cards.length}} cards</span>
    {{/if}}
    <i {{bind-attr class=":fa icon"}}></i>
    {{name}}
  </div>
  <div class="panel-body lane-container" {{bind-attr style="view.laneStyle"}}>
    {{#if isUser}}
      {{#sortable-list
        collection=cards
        parent=model
        parentKey="lane"
        onMove=cardMoved
        connectWith="board-lane-list"
        class="list-group"
        itemClass="list-group-item"}}
        {{render "board/card" .}}
      {{/sortable-list}}
    {{else}}
      <ul class="list-group readonly">
        {{#each cards}}
          <li class="list-group-item">
            {{render "board/card" .}}
          </li>
        {{/each}}
      </ul>
    {{/if}}
  </div>
</div>
