<div {{bind-attr class=":panel defaultIsVisible:panel-info:panel-default"}}>
  <div class="panel-heading">
    {{#if cards.length}}
      <span class="badge pull-right">{{cards.length}} cards</span>
    {{/if}}
    {{name}}
  </div>
  <div class="panel-body lane-container" {{bind-attr style="view.laneStyle"}}>
    {{#sortable-list
      collection=sortedCards
      parent=content
      childrenKey="cards"
      parentKey="lane"
      sortKey="order"
      connectWith="board-lane-list"
      class="list-group"
      itemClass="list-group-item"}}
      {{render "boards/card" .}}
    {{/sortable-list}}
  </div>
</div>
